[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2024.02.x
[submodule "base_external/aesd-assignments"]
	path = base_external/aesd-assignments
	url = https://github.com/cu-ecen-aeld/assignments-3-and-later-karimmahmoud22.git
